### THIS IS AN EXAMPLE OF A .env FILE
### THE ACTUAL .env FILE IS NOT STORED IN VERSION CONTROL FOR SECURITY REASONS
### MAKE A COPY OF THIS FILE AND CALL IT .env

# super-secret MOCKAROO API credentials
API_BASE_URL=https://my.api.mockaroo.com/animals.json
API_SECRET_KEY=d9ddfc40
